
/* Open Analytics content Style here */

.has-jax {
    -webkit-font-smoothing: antialiased;
    background: inherit !important;
    border: none !important;
    font-size: 100%;
}

.td-content > p {
	max-width: 80%;
}

.td-content {

  img {
      max-width: 100%;
  }

  h1:first-child {
    margin-top: 1.5rem;
    font-size: 2.25rem;
    margin-bottom: 2rem;
    color: #000;
    font-weight: 700;
  }

  h1,
  .h1 {
   font-size:2.1rem;
   color: #30638e;
   font-weight: 400;
   margin-bottom: 1rem;
  }
  h2,
  .h2 {
   font-size:1.8rem;
   font-weight: 400;
   margin-bottom: .7rem;
   color: #000;
  }
   
  h3,
  .h3 {
   font-size:1.6rem;
   color: #30638e;
   font-weight: 300;
   margin-bottom: .5rem;
  }

  h4,
  .h4 {
   font-size:1.4rem;
   font-weight: 300;
   margin-bottom: .3rem;
  }

  h5,
  .h5 {
    font-size: 1.1rem;
    font-weight: 400;
    margin-bottom: .3rem;
  }

}
